*{
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
html a{
    color: #000000;
}
.logo{
    font-size: 2vw;
    color: #1090CB;
}
nav{
    display: flex;
    align-items: center;
    padding: 2vw;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
ul{
    display: flex;
    align-items: center;
    
}
ul li{
    margin: 1vw ;

}
.select{
    color: #1090CB;
}
.esp{
    background-color: #1090CB;
    border: none;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 2vw;
}
.apresentação{
    display: flex;
    align-items: center;
    padding: 0 3vw 0 3vw;
    justify-content: start;
    background-color: #bde5f8;
    & p{
        width: 700px;
    }
    & img{
        width: 600px;
        height: 750px;
    }
    & .branco{
        background-color: white;
        border: 1px #1090CB solid;
        color: #1090CB;
        width: 8vw;
        height: 3vw;
        border-radius: 15px;
    }
     .azulButton{
            background-color: #1090CB;
            border: 1px #1090CB solid;
            color: #ffffff;
            width: 8vw;
            height: 3vw;
            border-radius: 15px;

     }
    & h1{
        font-size: 2.4vw;
    }
    & p{
        font-size: 1.3vw;
    }
}
.items{
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        align-items: center;        
        margin: 4vw 0vw 4vw 0vw;
        justify-content: space-between;
        li {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

    }
    img{
        max-width: 40px;
        max-height: 40px;
        padding: 2vw;
        border-radius: 20px ;
        margin-right: 2vw;
    }
    div{
        p{
            color: #031331;
            margin-top: -10px;
        }
    }

}
.texto{
    & h2{
        color: black;
        font-size: 2vw;
        text-align: center;
        font-weight: 800;

    }
    & h3{
        font-weight: 800;
        font-size: 1.5vw;
        text-align: center;
    }
    & h4{
        font-size: 1vw;
        text-align: center;
        color: #332e2e;
        
    }
    & p {
        font-weight: 100;
        width: 700px;
    }
    & div{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
       
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    span {
        color: #1090CB;
    }
    
}
.cartas{
    display: flex;
    justify-content: center;
    margin: 2vw 0 2vw 0;
    p{
        width: 400px;
        text-align: center;
        text-align: center;
        margin: 2vw 0 2vw 0;
    }
    div.div1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #bde5f8;
        padding: 3vw;
        border-radius: 20px;
        margin: 0 1vw 0 0;
        button{
            color: white;
            background-color: #1090CB;
            width: 153px;
            height: 49px;
            border: none;
            border-radius: 15px;
        }
    }
    div.div2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #1090CB;
        color: white;
        padding: 3vw;
        border-radius: 20px;
        margin: 0 0 0 1vw;
        button{
            color: #1090CB;
            background-color: white;
            width: 153px;
            height: 49px;
            border: none;
            border-radius: 15px;
        }
    }
    
}
.pesq{
    display: flex;
    background-color: #e8F4fA;
    padding: 2vw 0 2vw 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        margin: 2vw 0 2vw 0;
    }
    div{
        display: flex;
        margin: 0 1vw 0 1vw;
        align-items: center;
    }
    input{
        width: 530px;
        height: 50px;
        margin: 0 2vw 0 0 ;
    }
    button{
        color: white;
        background-color: #000000;
        width: 153px;
        height: 49px;
        border: none;
        border-radius: 15px;
    }
}
footer{
    
    h2{
        color: #031331;
    }
    div{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px black solid;
        div{
            display: flex;
            flex-direction: column;
            margin: 0 0 0vw 0 ;
            border-bottom: 0px;
        }

    }
  
    ul{
        display: flex;
        flex-direction: column;
    }
    p.final{
        text-align: center;
    }
}
/*classes*/
.verde{
    background-color: #EFEAFF;
}
.rosa{
    background-color: #ECFFDA;
}
.azul{
    background-color: #DAE6FF;
}
.laranja{
    background-color: #FFE5DA;
}